<% @users.each do |user| %>
<ul>
    <li><%= link_to user.name, user %></li>
</ul>
<% end %>                  
<ul>
	<hr />
<% if user_signed_in? %>

    <% if can? :manage, @users %>
<li>
     <%= link_to "Add User", new_user_path %>
</li>
    <% end %>

<% end %>
<% if user_signed_in? %>
  <li>
  <%= link_to('Edit your account', edit_user_registration_path) %>
  </li>
<% else %>
  <li>
  <%= link_to('Sign up', new_user_registration_path)  %>
  </li>
<% end %>   
</ul>