<h1>Editing project</h1>

<%= render 'form' %>

<%= link_to 'Show', @project %> |     

<%= button_to "Delete", project_path(@project), :method=>:delete, :class=>:destroy, :confirm=>"Are you sure?" %>

<%= link_to 'Back', projects_path %>
