/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */ 

body {
background-attachment: fixed;
background-color: #333;
background-image: url(bg.jpg);
background-position: top center;
background-repeat: no-repeat;
 
margin:0;
padding: 0;
 
background-size: cover;
-moz-background-size: cover;
-webkit-background-size: cover;
} 
.container {
	 background-color: #fff; 
}     

h1#the_code_awards_owf {
width: 538px;
height: 151px;
background-image: url('CodeAwards.png');
overflow: hidden;
text-indent: -9999px;  
clear:none;  
float:left;
}
    
p#presentation{  
width: 340px;
display:inline-block;
margin-left:30px;
float:left;
text-align: justify; 
text-justify: newspaper;
}   
#the_code_awards_is_sponsored_by_microsoft_the_prizes_are_sponsored_by_hp{width:960px;}
#sponsors {width:360px; height:160px ; vertical-align: middle;;clear:none; float:left;border-radius: 15px; padding:20px; background-color:#ddd; margin-bottom:20px; min-height:80px;}
#sponsors h4 {width:360px; h}
#the_code_awards_is_sponsored_by_microsoft_the_prizes_are_sponsored_by_hp a{width:495px; clear:none; float:left}

/*
This next definition doesn't allow the background to get any smaller
than a predefined size (640x426px in this case). Change the values
here to match your background image size. The configuration in the
flexi-background javascript file should also match these values.
*/
 
@media only all and (max-width: 640px) and (max-height: 426px) {
body {
background-size: 640px 426px;
-moz-background-size: 640px 426px;
-webkit-background-size: 640px 426px;
}
}
 
/*
The next 2 definitions are for support in iOS devices.
Since they don't recoginze the 'cover' keyword for background-size
we need to simulate it with percentages and orientation
*/
 
@media only screen and (orientation: portrait) and (device-width: 320px), (device-width: 768px) {
body {
-webkit-background-size: auto 100%;
}
}
 
@media only screen and (orientation: landscape) and (device-width: 320px), (device-width: 768px) {
body {
-webkit-background-size: 100% auto;
}
}        

#the_code_awards_owf a {text-decoration:none	} 
#user_nav li{
display: inline-block;
text-decoration: none;
width: auto;
height: 29px;
padding: 0px 20px;
line-height: 30px;
border: solid 1px #DDD;
border-width: 1px 1px 0 0;
margin: 0;
background: whiteSmoke;
font-size: 13px;
}
/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/