<em>On Thursday and Friday come and code at the OWF Coder Lounge, friday evening at 18:00 will be the glamourous Code Award Ceremony. </em>
<hr/>
<h2 id="format">Format</h2>
A list of subjects will be given on thursday they can be something like: Build a realtime dashboard for Blurb, Find a Velib itinerary from the OWF to the neareast Blah or Rewrite our voting application&#8230;

<ol>
<li>The code really should leverage existing open source projects, frameworks libraries, infrastructures&#8230; </li>
<li>The code should be short, less then 600 LOC, but the shorter the sweeter</li>
<li>The code must be published on a publicly available code repository (GitHub, CodePlex, BitBucket, YourOwnPubliclyAvailableRepository &#8230;)</li>
<li>The project must be entered on this form&#8230;(link available on thursday) with a short description of what it does, the list of projects and libraries it uses, a url for the repository, and if it runs anywhere&#8230; a link to the live url.</li>
</ol>

<h3 id="voting_will_start_on_friday_at_3pm">Voting will start on Friday at 3PM</h3>

<p>A jury of experts and the public vote will determine the winners.</p>
<hr/>
<h2 id="what_would_you_win">What would you win?</h2>

<ol>
<li>Total respect for you</li>
<li>Total respect and a bunch of buzz for the project(s) you put forward</li>
<li>A magnificent trophy </li>
<li>Two incredibly awesome XT931UT Elitebook 2540s Laptops from HP</li>
</ol>

